# Copy this file into build.properties and customize it
# Don't forget to ignore your new build.properties when you commit any code 

#### jboss.dir: it is the deploy folder
#### root.dir: name of the main project. App is the main and compiles the other ones

jboss.dir=/Applications/jboss-4.2.3.GA/server/default/deploy
root.dir=../j2w-app
